<section style="text-align: left">
  <h1>Space Partitioning</h1>
  <h4>Raumunterteilende Datenstrukturen</h4>

  <p>
    <small>by Sebastian Häni</small>
  </p>
</section>


{% include "parts/einleitung.html" %}
{% include "parts/binary-space-partitioning.html" %}
{% include "parts/orthogonale-bereichsuche.html" %}
{% include "parts/windowing.html" %}


<section style="text-align: left;">
  <h1>THE END</h1>
  <p>
    <a href="https://github.com/sebastianhaeni/space-partitioning">Source code &amp; documentation</a>
    <small>https://github.com/sebastianhaeni/space-partitioning</small>
  </p>
</section>
